<% include partials/_header %>
<div class="container">
    <div class="row">
    <!-- FORM -->
        <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit/<%= task._id %>" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Inserte Nombre" class="form-control" value="<%= task.nombre %>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="autor" placeholder="Inserte Autor" class="form-control" value="<%= task.autor %>">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="genero" placeholder="Inserte genero" class="form-control" value="<%= task.genero %>">
                            </div>                            
                            <div class="form-group">
                                    <input type="text" name="codigo" placeholder="Inserte codigo del libro" class="form-control" value="<%= task.codigo %>">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="editorial" placeholder="Inserte Editorial" class="form-control" value="<%= task.editorial %>">
                            </div>
                            <div class="form-group">
                                    <input type="number" name="ano" placeholder="Inserte Año de la obra" class="form-control" value="<%= task.ano %>">
                            </div>                            
                            <button type="submit" class="btn btn-primary btn-block">Actualizar Libro</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
    <% include partials/_footer %>